@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "PickUps";
}

<h2>Pickups</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.ActionLink("Confirm Pickup", "ConfirmPickup", new { id = item.Id })
                @Html.ActionLink("Go back", "Index", new { id = item.Id })
            </td>
        </tr>
    }

</table>

